.wrapper {
  width: 100%;
}

.custom_button {
  width: 200px;
  border: 1px solid blue;

  background-color: azure;
  color: gray;
}
.warn_page,
.hello_page,
.bye_page {
  width: 100%;
  max-width: 1920px;
  border: 1px solid red;
  height: 1000px;
  display: flex;
  flex-direction: column;
}
